body
{
  font-family: Tahoma, sans-serif;
  color: silver;
  background-color: blue;
}
a{
  color: lightgoldenrodyellow
}

header
{
  font-family:Courier, serif;
  text-align: center;
  color: green;
}