body
{
  font-family: Tahoma, sans-serif;
  color: rgb(192, 192, 192);
  background-color: blue;
}
a{color: lightgoldenrodyellow}
a:hover{color: lightgreen}

header
{
  font-family:Courier, serif;
  text-align: center;
  color: rgb(0, 60, 128);
}

