body
{
  font-family: Tahoma, sans-serif;
  color: rgba(192, 192, 192, 0.233);
  background-color: blue;
}
a{color: rgba(234, 210, 250, 0.74)}
a:hover{color: rgb(238, 144, 207)}

header
{
  font-family:Courier, serif;
  text-align: center;
  color: rgb(58, 128, 0);
}
.homelink{
  text-decoration: none;
  text-align: center;
}

mark{
  background-color: darkolivegreen;
}
