body
{
  font-family: Tahoma, sans-serif;
  color: hsl(0, 0%, 75%);
  background-color:black;
}
a{color: greenyellow}
a:hover{color: brown}

header
{
  font-family:Courier, serif;
  text-align: center;
  color: red;
}
.homelink{
  text-decoration: none;
  text-align: center;
}
.cap{
  font-family: Tahoma, sans-serif;
  color: hsl(0, 0%, 75%);
}
figure{
    text-align: center;
}