body
{
  font-family: Tahoma, sans-serif;
  color: brown;
  background-color:peachpuff;
  size: 30;
}
a{color: black}
a:hover{color: palevioletred}

header
{
  font-family:Courier, serif;
  text-align: center;
  color: black;
}
.homelink{
  text-decoration: none;
  text-align: center;
}
.cap{
  font-family: Tahoma, sans-serif;
  color: hsl(0, 0%, 75%);
}
figure{
    text-align: center;
}