<footer>
    <p style="font-family: 'Times New Roman', serif;">
    
       <nav style="text-align: center;">
           <a href = "https://webpages.charlotte.edu/razure" target= "_blank">Charlotte.edu</a>
           ||
           <a href = "https://github.com/Ramseyjnr" target= "_blank">GitHub</a>
           ||
           <a href = "https://ramseyjnr.github.io/" target= "_blank">GitHub.io</a>
           ||
           <a href = "https://www.codecademy.com/profiles/Ramseyjnr" target= "_blank">Codecademy</a>
           ||
           <a href = "https://www.freecodecamp.org/Ransey" target= "_blank">freecodecamp</a>
       </nav>
       <div style="text-align: center;"> Created By <a href ="razurezdesigns.html">Azurez Designs</a>  &copy;2022.</div> 
    
    </p>
    <p style="text-align: center;">
        <a href = "https://validator.w3.org/check?uri=referer" style = "text-decoration: none;" id = "validation_link_html">
            <img src = "images/button_validation_html5.png" width = "88" height = "31" alt = "Link to html validator">
        </a>
        
        <a href = "https://jigsaw.w3.org/css-validator/check/referer" style = "text-decoration: none;" id = "validation_link_html">
            <img src = "images/button_validation_css.png" width = "88" height = "31" alt = "Link to css validator">
        </a>
    </p>

    <script>
        document.getElementById('validation_link_css').setAttribute('href', 'https://jigsaw.w3.org/css-validator/check?uri=' + location.href);
        document.getElementById('validation_link_html').setAttribute('href', 'https://validator.w3.org/check?uri=' + location.href);
    </script>
</footer>