<header>
        <h1 style="text-align: center;" >Ramsey Azure | ITIS 3135 | White Ram </h1>
         
<nav style="text-align: center;">
    <p style="font-family:'Courier New'">
        <a href ="./">Home</a>
        &#10055;
        <a href ="introduction.html">Introduction</a>
        &#10055;
        <a href ="contract.html">Contract</a>
        &#10055;
        <a href ="white-rams.html">Brand Page</a>
        &#10055;
        <a href ="tables.html">Tables</a>
        &#10055;
        <a href ="forms.html">Forms</a>
        &#10055;
        <a href ="/itis3135/stuff/23Ddnnnntbbvhvhabx.html"> Crappy Page</a>
        &#10055;
        <a href ="website_evaluation.html"> website_evaluation</a>
        &#10055;
        <a href ="razurezdesigns.html"> razurezdesigns</a>
        &#10055;
        <a href ="firstscript.html"> FirstJS</a>
        &#10055;
        <a href ="polygons.html"> Polygons</a>
        &#10055;
        <a href ="caltry.html"> Caltry</a>
        &#10055;
        <a href ="calculator.html"> Calculator</a>
        &#10055;
        <a href ="arrays.html"> Arrays</a>
        &#10055;
        <a href ="accessibility.html"> Accessibility</a>
        &#10055;
        <a href ="project_azure.html"> Project Design</a>
        &#10055;
        <a href ="slideshow.html"> Slideshow</a>
    </p>
    </nav>
    </header>