<header>
        <h1 style="text-align: center;" >Ramsey Azure | ITIS 3135 | White Ram </h1>
         
<nav style="text-align: center;">
    <p style="font-family:'Courier New'">
        <a href ="./">Home</a>
        &#10055;
        <a href ="introduction.html">Introduction</a>
        &#10055;
        <a href ="contract.html">Contract</a>
        &#10055;
        <a href ="white-rams.html">Brand Page</a>
        &#10055;
        <a href ="tables.html">Tables</a>
        &#10055;
        <a href ="forms.html">Forms</a>
        &#10055;
        <a href ="/itis3135/stuff/23Ddnnnntbbvhvhabx.html">Crappy Page</a>
        &#10055;
        <a href ="website_evaluation.html">Website Evaluation</a>
        &#10055;
        <a href ="firstscript.html"> FirstJS</a>
        &#10055;
        <a href ="polygons.html">Polygons</a>
        &#10055;
        <a href ="caltry.html">CalTry</a>
        &#10055;
        <a href ="calculator.html">Calculator</a>
        &#10055;
        <a href ="arrays.html">Arrays</a>
        &#10055;
        <a href ="accessibility.html">Accessibility</a>
        &#10055;
        <a href ="project_azure.html">Project Design</a>
        &#10055;
        <a href ="slideshow.html">Slideshow</a>
        &#10055;
        <a href ="review.html"> Peer View</a>
        &#10055;
        <a href ="azure-activity10.html">Image Swap</a>
        &#10055;
        <a href ="activity11/widget.html">Accordion Widget</a>
        &#10055;
        <a href ="midterm/hobby.html">Midterm</a>
        &#10055;
        <a href ="activity12/capplication.html">Carousel Application</a>
        &#10055;
        <a href ="activity13/Azure-activity13.html">Activity13</a>
        &#10055;
        <a href ="activity14/azure-activity14.html">Activity14</a>
        &#10055;
        <a href ="activity15/azure-activity15.html">Activity15</a>
        &#10055;
       <a href ="project/index.html">Project</a>
        &#10055;
    </p>
    </nav>
    </header>